* {
  box-sizing: border-box;
}

body,
html {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  min-height: 100vh;
  overscroll-behavior-y: contain;
  background-color: #f0f0f0;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  border-bottom: 2px solid green;
  padding: 0 0 0.5rem 0;
  margin: 0px;
}

/* ///////////////////// */

.row input {
  border-radius: 5px;
  border: 3px solid grey;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: right;
  width: 215px;
}
.row input:hover {
  border-color: goldenrod;
  outline: none;
}
.row input:focus {
  border-color: goldenrod;
  outline: none;
}
.row:last-child {
  border-bottom: none;
}

@media (max-width: 978px) {
  .row input {
    width: 110px;
  }
}
